# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [68]:
import pandas as pd

#### Описание данных

В папке Dat (https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip) находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [69]:
info_dfs = [pd.read_csv(file) for file in ["https://raw.githubusercontent.com/ArslanChe/For_iad/main/Second_hw/Data/Data/Students_info_" + str(i) + ".csv" for i in range(10)]]
marks_dfs = [pd.read_csv(file) for file in ["https://raw.githubusercontent.com/ArslanChe/For_iad/main/Second_hw/Data/Data/Students_marks_" + str(i) + ".csv" for i in range(10)]]

info_df = pd.concat(info_dfs, ignore_index=True)
marks_df = pd.concat(marks_dfs, ignore_index=True)
df = pd.merge(info_df, marks_df, on='index')
print(df.head())

   index  gender race/ethnicity parental level of education         lunch  \
0      0  female        group B           bachelor's degree      standard
1      1  female        group C                some college      standard
2      2  female        group B             master's degree      standard
3      3    male        group A          associate's degree  free/reduced
4      4    male        group C                some college      standard

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [70]:
df = df.reset_index(drop=True)
print(df.head(10))

   index  gender race/ethnicity parental level of education         lunch  \
0      0  female        group B           bachelor's degree      standard
1      1  female        group C                some college      standard
2      2  female        group B             master's degree      standard
3      3    male        group A          associate's degree  free/reduced
4      4    male        group C                some college      standard
5      5  female        group B          associate's degree      standard
6      6  female        group B                some college      standard
7      7    male        group B                some college  free/reduced
8      8    male        group D                 high school  free/reduced
9      9  female        group B                 high school  free/reduced

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75
5                    none  group1          71             83             78
6               completed  group1          88             95             92
7                    none  group1          40             43             39
8               completed  group1          64             64             67
9                    none  group1          38             60             50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [71]:
print("Размеры таблицы:", df.shape)

Размеры таблицы: (1000, 10)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [72]:
print(df.describe())

             index  math score  reading score  writing score
count  1000.000000  1000.00000    1000.000000    1000.000000
mean    499.500000    66.08900      69.169000      68.054000
std     288.819436    15.16308      14.600192      15.195657
min       0.000000     0.00000      17.000000      10.000000
25%     249.750000    57.00000      59.000000      57.750000
50%     499.500000    66.00000      70.000000      69.000000
75%     749.250000    77.00000      79.000000      79.000000
max     999.000000   100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [87]:
missing_values = df.isnull().sum()

print("Пропущенные значения в каждом столбце:")
print(missing_values)

Пропущенные значения в каждом столбце:
index                 0
gender                0
race/ethnicity        0
education             0
lunch                 0
test preparation      0
group                 0
math score            0
reading score         0
writing score         0
Math_PassStatus       0
Reading_PassStatus    0
Writing_PassStatus    0
OverAll_PassStatus    0
Grade                 0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [74]:
print("Средние баллы по предметам:")
print(df[['math score', 'reading score', 'writing score']].mean())

Средние баллы по предметам:
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [75]:
avg_by_course = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()

print("Средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс")
print(avg_by_course)

Средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс
                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [76]:
unique_lunch_values = df['lunch'].unique()
print("Все различные значения столбца lunch")
print(unique_lunch_values)

Все различные значения столбца lunch
['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [77]:
df = df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})
print(df.head())

   index  gender race/ethnicity           education         lunch  \
0      0  female        group B   bachelor's degree      standard
1      1  female        group C        some college      standard
2      2  female        group B     master's degree      standard
3      3    male        group A  associate's degree  free/reduced
4      4    male        group C        some college      standard

  test preparation   group  math score  reading score  writing score
0             none  group1          72             72             74
1        completed  group1          69             90             88
2             none  group1          90             95             93
3             none  group1          47             57             44
4             none  group1          76             78             75

**Зафиксируем минимальный балл для сдачи экзамена**

In [78]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [79]:
#A
ans_a = len(df[df['math score'] >= 50]) / len(df)
print("Доля студентов, сдавших экзамен по математике: {:.2}".format(ans_a))

#B
ans_b = len(df[(df['test preparation'] == 'completed') & (df['math score'] >= 50)]) /len(df[df['test preparation'] == 'completed'])
print("Доля студентов, проходивших курс подготовки, сдавших экзамен по математике: {:.2}".format(ans_b))

#C
ans_c = len(df[(df['gender'] == 'female') & (df['test preparation'] == 'none') & (df['math score'] < 50)]) / len(df[(df['gender'] == 'female') & (df['test preparation'] == 'none')])
print("Доля женщин, не проходивших курс подготовки, не сдавших экзамен по математике: {:.2}".format(ans_c))

Доля студентов, сдавших экзамен по математике: 0.86
Доля студентов, проходивших курс подготовки, сдавших экзамен по математике: 0.92
Доля женщин, не проходивших курс подготовки, не сдавших экзамен по математике: 0.21

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [80]:
import time

#A
start = time.time()
reading_mean = df.groupby('race/ethnicity')['reading score'].mean()
end = time.time()

print("Средний балл за экзамен по чтению по каждой этнической группе:", reading_mean)
print("Время выполнения: {:.4f} секунд".format(end - start))
print()

#B
start = time.time()
writing_min = df.groupby('education')['writing score'].min()
end = time.time()

print("Минимальный балл за экзамен по письму по каждому уровню образования:", writing_min)
print("Время выполнения: {:.4f} секунд".format(end - start))

Средний балл за экзамен по чтению по каждой этнической группе: race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
Время выполнения: 0.0025 секунд

Минимальный балл за экзамен по письму по каждому уровню образования: education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
Время выполнения: 0.0029 секунд

\**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [81]:

start = time.time()

unique_ethnicities = df['race/ethnicity'].unique()
ethnicity_reading_means = {}

for ethnicity in unique_ethnicities:
    tmp = df[df['race/ethnicity'] == ethnicity]
    mean_reading_score = tmp['reading score'].mean()
    ethnicity_reading_means[ethnicity] = mean_reading_score

end = time.time()


print("Средний балл за экзамен по чтению по каждой этнической группе:")
for key in ethnicity_reading_means:
    print(key, "{:.4f}".format(ethnicity_reading_means[key]))

print("Время с использованием циклов: {:.4f} секунд".format(end - start))
print()

start = time.time()

educations = df['education'].unique()
education_writing_mins = {}

for education in educations:
    tmp = df[df['education'] == education]
    min_writing_score = tmp['writing score'].min()
    education_writing_mins[education] = min_writing_score

end = time.time()

print("Минимальный балл за экзамен по письму по каждому уровню образования:")
for key in education_writing_mins:
    print(key, (education_writing_mins[key]))

print("Время с использованием циклов: {:.4f} секунд".format(end - start))

Средний балл за экзамен по чтению по каждой этнической группе:
group B 67.3526
group C 69.1034
group A 64.6742
group D 70.0305
group E 73.0286
Время с использованием циклов: 0.0057 секунд

Минимальный балл за экзамен по письму по каждому уровню образования:
bachelor's degree 38
some college 19
master's degree 46
associate's degree 35
high school 15
some high school 10
Время с использованием циклов: 0.0093 секунд

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [82]:
pivot_table = pd.pivot_table(df, values=['math score', 'reading score', 'writing score'], index=['gender', 'education'], aggfunc='mean')

print("Средние баллы студентов по каждому предмету в зависимости от пола и уровня образования:")
print(pivot_table)

Средние баллы студентов по каждому предмету в зависимости от пола и уровня образования:
                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [83]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'P' if x >= passmark else 'F')
math_pass = df['Math_PassStatus'].value_counts()

df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'P' if x >= passmark else 'F')
reading_pass = df['Reading_PassStatus'].value_counts()

df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'P' if x >= passmark else 'F')
writing_pass = df['Writing_PassStatus'].value_counts()


print("Экзамен по математике:", math_pass)
print()
print("Экзамен по чтению:", reading_pass)
print()
print("Экзамен по письму:", writing_pass)

Экзамен по математике: P    865
F    135
Name: Math_PassStatus, dtype: int64

Экзамен по чтению: P    910
F     90
Name: Reading_PassStatus, dtype: int64

Экзамен по письму: P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [84]:
df['OverAll_PassStatus'] = df.apply(lambda row: 'F' if row['Math_PassStatus'] == 'F' or row['Reading_PassStatus'] == 'F' or row['Writing_PassStatus'] == 'F' else 'P', axis=1)
overall_pass_counts = df['OverAll_PassStatus'].value_counts()

print("Студенты, которые сдали все экзамены:")
print(overall_pass_counts)

Студенты, которые сдали все экзамены:
P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [91]:
# Вспомогательная функция для определения оценки
def assign_grade(avg_mark):
    if avg_mark > 90:
        return 'A'
    elif 80 <= avg_mark <= 90:
        return 'B'
    elif 70 <= avg_mark < 80:
        return 'C'
    elif 60 <= avg_mark < 70:
        return 'D'
    elif 50 <= avg_mark < 60:
        return 'E'
    else:
        return 'F'

df['Grade'] = df[['math score', 'reading score', 'writing score']].mean(axis=1).apply(assign_grade)

grades = df['Grade'].value_counts()
print("Количество студентов, получивших каждую из оценок:")
print(grades)

Количество студентов, получивших каждую из оценок:
C    261
D    256
E    182
B    148
F    103
A     50
Name: Grade, dtype: int64